.table{
    margin-left: 5%;
    max-width: fit-content;
    background-color: white;
    border-radius: 7px;
    
}
th{
    font-size: large;
}
.style{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.hc {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.head,.body {
    padding: 12px 15px;
    
}
.br {
    border-bottom: 1px solid #dddddd;
}

.br:nth-of-type(even) {
    background-color: #f3f3f3;
}

.br:last-of-type {
    border-bottom: 2px solid #009879;
}
.btn{
    float: right;
    margin: 1%;
    margin-bottom:1% ;
    background-color: rgb(2, 117, 216);
    color: #ffffff;
}

#img{
   width: 100px;
   height: 100px;
}
.bc{
    padding-left: 10px;
}